<style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333; 
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.topnav {
    background-color:#00796b, #00aaff;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #00796b, #00aaff;
    color: #00796b, #00aaff;
    transform: scale(1.5); 
  }

  .topnav a.active {
    background-color:   #00796b, #00aaff;
    color: white;
  } 

  
   header {
    background: linear-gradient(to right, #00796b, #00aaff);
    padding: 0	px 0; 
    text-align: center;
    color: white;
    border-bottom: 5px solid #5ed3e2;
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 900; 
}


.logo {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    margin-right: 15px; 
}

.header-title {
    display: inline-block; 
}

h1 {
    margin: 0; 
    font-size: 2em; 
}

p {
    margin: 0; 
    font-size: 1em;
}

main {
    padding: 120px 20px;
    background: rgba(255, 255, 255, 0.9); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: left; 
    max-width: 800px; 
    margin: auto;
}

.section-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: linear-gradient(to right, #e0f7fa, #b2ebf2);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.article-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: linear-gradient(to right, #e0f7fa, #b2ebf2);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.top-left-image {
    width: 300px; 
    margin-right: 20px; 
}

.top-right-image {
    width: 200px; 
}

h2 {
    color: black; 
}

footer {
    text-align: center;
    padding: 10px;
    background: #333; 
    color: #ffffff; 
}

a {
    color: #FF5733; 
    text-decoration: underline; 
}

a:hover {
    color: #FF0000; 
}

@media (max-width: 600px) {
    main {
        padding: 10px;
    }
    header, footer {
        padding: 15px;
    }
}

body {
    background: linear-gradient(to right, #007BFF, #E0F7FA);
    background-size: 200% 200%;
    animation: backgroundAnimation 10s ease infinite;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}
</style>